language: php
dist: trusty
install: composer install
php:
    - 7.2
    - 7.3
    - 7.4

script:
    - mkdir -p build/logs
    - php vendor/bin/phpunit -c phpunit.xml

after_script:
    - php vendor/bin/coveralls -v
